<div class="p-0 lg:p-4 lg:ml-64">
  <header
    class="flex justify-between items-center ml-4 md:ml-14 lg:-mb-16 mt-24"
  >
    <h1 class="ml-16 lg:ml-0 text-xl md:text-3xl font-bold">
      Credits Purchase History
    </h1>
  </header>

  <div class="flex justify-center items-center flex-col -mx-3 md:p-8 lg:p-12">
    <div
      class="relative shadow-md sm:rounded-lg flex justify-center items-center overflow-hidden bg-white xl:w-[75vw] h-[28rem] mt-8 md:mt-12 lg:mt-16 mx-10 md:mx-auto"
    >
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead class="text-xs bg-white text-black border-b border-gray-200">
          <tr>
            <th scope="col" class="p-4">
              <div class="flex items-center">
                <input
                  id="checkbox-all-search"
                  type="checkbox"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                />
                <label htmlFor="checkbox-all-search" class="sr-only"
                  >checkbox</label
                >
              </div>
            </th>
            <th
              class="px-3 md:px-4 lg:px-6 py-3 text-sm md:text-lg lg:text-xl font-bold"
            >
              Invoice
            </th>
            <th
              class="px-3 md:px-4 lg:px-6 py-3 text-sm md:text-lg lg:text-xl font-bold"
            >
              Status
            </th>
            <th
              class="px-3 md:px-4 lg:px-6 py-3 text-sm md:text-lg lg:text-xl font-bold"
            >
              Credits
            </th>
            <th
              class="px-3 md:px-4 lg:px-6 py-3 text-sm md:text-lg lg:text-xl font-bold"
            >
              Amount
            </th>
            <th
              class="px-3 md:px-4 lg:px-6 py-3 text-sm md:text-lg lg:text-xl font-bold"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of products"
            class="bg-white border-b border-gray-200 text-black text-[10px] md:text-base lg:text-lg"
          >
            <td class="w-4 p-4">
              <div class="flex items-center">
                <input
                  id="checkbox-table-search-{{ product.id }}"
                  type="checkbox"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                />
                <label
                  [attr.for]="'checkbox-table-search-' + product.id"
                  class="sr-only"
                  >checkbox</label
                >
              </div>
            </td>
            <th
              scope="row"
              class="px-3 md:px-4 lg:px-6 py-4 font-medium text-black whitespace-nowrap"
            >
              {{ product.name }}
            </th>
            <td class="px-3 md:px-4 lg:px-6 py-4">
              <div class="flex items-center">
                <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                Completed
              </div>
            </td>
            <td class="px-3 md:px-4 lg:px-6 py-4">{{ product.color }}</td>
            <td class="px-3 md:px-4 lg:px-6 py-4">${{ product.price }}</td>
            <td class="px-3 md:px-4 lg:px-6 py-4">
              <a href="#" class="font-medium text-black">...</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
